<div class="container">
  <div class="row">
    <div class="col-md-3 user-info">
        <%= render 'public/users/info', user: @user, users: @users %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <h4 class="font-wight-normal">投稿詳細</h4>
        <h7 class="offset-1">投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></h7>
        <p class="text-right offset-2">
          <% if @review.user == current_user %>
            <%= link_to '編集する', edit_review_path(@review), class: "btn btn-sm btn-info edit_review_#{@review.id}" %>
            <%= link_to '削除する', @review, method: :delete, data: {confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger destroy_review_#{@review.id}" %>
          <% end %>
        </p>
      </div>

      <div class="row">
        <div class="col-md-6 justify-content-center d-block">
          <%= image_tag @review.get_travel_image(300, 300) %>
          <div class="d-flex">
          <div class="favorite-btn_<%= @review.id %>">
            <%= render 'public/favorites/btn', review: @review %>
          </div>
          <div id="bookmark_button_<%= @review.id %>" style="margin-left: 20px;">
            <%= render 'public/bookmarks/mark', review: @review %>
          </div>
          </div>
        </div>

        <div class"col-md-3 offset-1">
          <table class="table table-border">
            <tbody>
              <tr>
                <td>訪問国</td>
                <td><%= @review.travel_country.name %></td>
              </tr>
              <tr>
                <td>訪問地域</td>
                <td data-score=""><%= @review.area %></td>
              </tr>
              <tr>
                <td>おすすめ度</td>
                <td><%= render 'static_rate', review: @review %><%#= @review.rate %></td>
              </tr>
              <tr>
                <td>出発国</td>
                <td><%= @review.departure_country %></td>
              </tr>
              <tr>
                <td>往復移動費</td>
                <td><%= @review.travel_cost.to_s(:delimited) %>円</td>
              </tr>
              <tr>
                <td>宿泊費</td>
                <td><%= @review.accommodation_fee.to_s(:delimited) %></td>
              </tr>
              <tr>
                <td>宿泊日数</td>
                <td><%= Review.nights_i18n[@review.night] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <%= @review.title %>
      </div>
      <div class="row">
        <%= @review.body %>
      </div>
      <div class="row">
        <% @review_tags.each do |tag| %>
          <%= tag.name %><%= "(#{tag.review.count})" %>
        <% end %>
      </div>

      <div class="row">
        <div class="col">
          <ul>
            <li class="comment-create">
              <h4 class="text-left mini-title">コメント</h4>
            </li>
            <li id="comments_area">
              <%= render partial: 'public/review_comments/index', locals: { review_comments: @review_comments } %>
            </li>
          </ul>
          <hr>
          <% if user_signed_in? %>
          <div class="comment-create">
            <h5 class="text-left">コメントする</h5>
            <%= render partial: 'public/review_comments/form', locals: { review_comment: @review_comment, review: @review } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>