    <table class='table'>
      <tr><%= image_tag user.get_user_image(100, 100) %></tr>
      <tr>
	      <th>nickname</th>
	      <th>
	        <%= link_to admin_user_path(user.id) do %>
	          <%= user.nickname %>
	        <% end %>
	      </th>
      </tr>
      <tr>
	      <th>introduction</th>
	      <th><%= user.introduction %></th>
      </tr>
<% if users.exists? %>
      <tr>
        <th>follows</th>
        <th>
          <%= user.followings.count %>
        </th>
      </tr>
      <tr>
        <th>followers</th>
        <th>
          <%= user.followers.count %>
        </th>
      </tr>
    </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>

<div class='row'>
    <%= link_to edit_admin_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
</div>