<!--新規コメント3件を取得する-->
<%= review_comments.count %>件コメント
<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る>></h6>
<% review_comments.first(3).each do |review_comment| %>
  <% unless review_comment.id.nil? %>
  	<li class="comment-container">
		<div class="comment-box">
			<div class="comment-avatar">
				<%= image_tag review_comment.user.get_user_image(40, 40), class:"comment-image" %>
			</div>
			<div class="comment-text">
			    <p><%= link_to "@#{review_comment.user.nickname}", user_path(review_comment.user.id) %></p>
			    <div class="comment-entry">
  				    <%= review_comment.comment %>
  				    <% if review_comment.user == current_user %>
			      		<%= link_to review_review_comment_path(review_comment.review_id, review_comment.id), method: :delete, remote: true, class: "review_comment_destroy" do %>
			      			<i class="fas fa-trash" style="color: black;"></i>
			      		<% end %>
			    	<% end %>
  				</div>
				<span class="comment-date pull-right">
				      <%= review_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
				</span>
			</div>
		</div>
	</li>
  <% end %>
<% end %>
<!--4件目以降のコメントを表示する-->
	<div class="collapse" id="collapseExample">
			<% review_comments.offset(3).each do |review_comment| %>
			  <% unless review_comment.id.nil? %>
			  	<li class="comment-container">
					<div class="comment-box">
						<div class="comment-avatar">
							<%= image_tag review_comment.user.get_user_image(40, 40), class:"comment-image" %>
						</div>
						<div class="comment-text">
						    <p><%= link_to "@#{review_comment.user.nickname}", user_path(review_comment.user.id) %></p>
						    <div class="comment-entry">
			  				    <%= review_comment.comment %>
			  				    <% if review_comment.user == current_user %>
						      		<%= link_to review_review__comment_path(review_comment.review_id, review_comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
			      						<i class="fas fa-trash" style="color: black;"></i>
			      					<% end %>
						    	<% end %>
			  				</div>
							<span class="comment-date pull-right">
							      <%= review_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
							</span>
						</div>
					</div>
				</li>
			  <% end %>
			<% end %>
	</div>