<div class="container">
  <h3 class="bg-secondary text-light d-inline-block px-4 ml-5">登録情報</h3>
  <div class="row my-2">
    <div class="col mr-4" style="text-align: right;">
      <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success mx-5 rounded-pill" %>
    </div>
  </div>

  <div class="justify-content-center row">
    <%= image_tag @user.get_user_image(170, 170) %>
  </div>

  <div class="justify-content-center row my-2 px-5">
    <table class="col-8 table table-borderd mb-5 text-center">
      <tr>
        <th class="bg-light">氏名</th>
        <td><%= @user.last_name %> <%= @user.first_name %></td>
      </tr>
      <tr>
        <th class="bg-light">ニックネーム</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th class="bg-light">自己紹介</th>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <th class="bg-light">会員ステータス</th>
          <% if @user.is_deleted == true %>
            <td class="text-danger">退会</td>
          <% else %>
            <td class="text-success">有効</td>
          <% end %>
      </tr>
    </table>
  </div>
</div>