<div class="container">
  <h3 class="bg-secondary text-white d-inline-block px-4 ml-5">会員情報編集</h3>

  <div class="col-10 offset-1">
    <%= form_with model:@user, url: user_path(current_user), local:true do |f| %>
    <table class="table table-boderless my-1">
      <tbody>
        <%= render 'layouts/errors', obj: @user %>
        <tr>
          <td><%= f.label :氏名 %></td>
          <td>
            <%= f.text_field :last_name, autofocus: true %>
            <%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :ニックネーム %></td>
          <td><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td><%= f.label :電話番号 %></td>
          <td><%= f.telephone_field :phone_number %></td>
        </tr>
        <tr>
          <td><%= f.label :自己紹介 %></td>
          <td><%= f.text_area :introduction, class: "form-control introduction" %></td>
        </tr>
        <tr>
          <td><%= f.label :プロフィール画像 %></td>
          <td><%= f.file_field :user_image, class: "form-control-file user_image", accept: 'image/*' %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit "編集内容を保存する", class: "btn btn-success mx-3 px-5" %>
            <%= link_to '退会する', quit_user_path(@user), class: "btn btn-danger mx-3 px-5" %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>