<div class="container">

  <div class="p-rvwr-cover__image">
    <!--ユーザー背景-->
    <div class="tbcrop-frame" style="overflow: hidden; position: relative; width: 980px; height: 250px;">
      <%= image_tag @user.get_user_bg_image(980, 250) %>
    </div>
  </div>

  <div class="row">

    <div class="col-3">
      <!--ユーザー画像-->
      <%= image_tag @user.get_user_image(220, 220) %>
    </div>

    <div class="col-9">
      <!--ニックネーム、紹介、テーブル-->
      <div class="nickname">
        <%= @user.nickname %>
      </div>
      <div class="intro">
        <%= @user.introduction %>
      </div>
        <p class="text-right mt-1"><%= link_to "情報確認", user_confirm_path, class: "btn btn-info rounded-pill" %></p>
        <p class="text-right mt-1"><%= link_to "＋", new_review_path, class: "btn btn-primary rounded-circle p-0", style: "width:2rem;height:2rem;" %></p>

      <table class="table table-bordered table-hover">
        <thead class="bg-light-brown">
          <tr>
            <td>口コミ数</td>
            <td>フォロー</td>
            <td>フォロワー</td>
          </tr>
        </thead>
        <tbody>
          <td>
            <!--口コミ数を表示-->
          </td>
          <td>
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %>
            <% end %>
          </td>
          <td>
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <!--投稿一覧-->
    <h3>投稿一覧</h3>
    <div class="text-right">
      <%= link_to "下書き一覧へ", manage_user_path(@user) %>
    </div>
  </div>

  <%= render 'public/reviews/index', reviews: @reviews %>

</div>
