<div class="container">
  <div class="row">
    <div class="main-visual">
    <!--ユーザー背景-->
    </div>
  </div>

  <div class="row">

    <div class="col-2" style="padding: 0;">
      <!--ユーザー画像-->
      <%= image_tag @user.get_user_image(170, 170) %>
    </div>

    <div class="col-10">
      <!--ニックネーム、紹介、テーブル-->
      <div class="row">
        <div class="col-7">
          <div class="nickname">
            <%= @user.nickname %>
          </div>
          <div class="intro">
            <%= @user.introduction %>
          </div>
        </div>
        <div class="col-3">
          <div class="dropdown">
            <button type="button" class="btn btn-outline-success btn-sm nav-link text-green dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              登録情報管理
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
              <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, method: :post, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "L o g    i n", new_user_session_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "S i g n    U p", new_user_registration_path, class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-bordered table-hover">
        <thead class="bg-light-brown">
          <tr>
            <td>口コミ数</td>
            <td>フォロー</td>
            <td>フォロワー</td>
          </tr>
        </thead>
        <tbody>
          <td>
            <!--口コミ数を表示-->
          </td>
          <td>
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %>
            <% end %>
          </td>
          <td>
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <!--投稿一覧-->
    <h3>投稿一覧</h3>
    <div class="text-right">
      <%= link_to "下書き一覧へ", manage_user_path(@user) %>
    </div>
  </div>

  <%= render 'public/reviews/index', reviews: @reviews %>

</div>