<nav class="navbar navbar-expand-lg">
  <div class="container">

    <div class="navbar-brand">
      <div class="py-1">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", size: "300x60" %>
        <% end %>
      </div>
    </div>

    <!--ログアウト時に表示-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="mx-3"><%= link_to 'About', about_path, class: 'btn btn-outline-secondary nav-link text-dark' %></li>
        <li class="mx-3"><%= link_to '国名一覧', countries_path, class: 'btn btn-outline-secondary nav-link text-dark' %></li>
        <li class="mx-3"><%= link_to '新規登録', new_user_registration_path, class: 'btn btn-outline-secondary nav-link text-dark' %></li>
        <li class="mx-3"><%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-secondary nav-link text-dark' %></li>
      </ul>
    </div>

  </div>
</nav>