<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <div class="navbar-brand d-flex">
      <%= link_to admin_path do %>
        <%= image_tag "logo.png", size: "200x60" %>
      <% end %>
      <p class="name-box" style="color: black;">管理者としてログイン中</p>
    </div>



    <!--管理者ログイン時に表示-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-success btn-sm nav-link text-green dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-search-plus"></i>検索
          </button>
          <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
            <h6 class="dropdown-header">検索フォーム</h6>
            <div class="dropdown-divider"></div>
            <%= render 'layouts/search' %>
          </div>
        </div>
        <li class="btn-box mx-1"><%= link_to '国名一覧', admin_genres_path, class: 'btn btn-outline-dark btn-sm nav-link' %></li>
        <li class="btn-box mx-1"><%= link_to '会員一覧', admin_users_path, class: 'btn btn-outline-dark btn-sm nav-link' %></li>
        <li class="btn-box mx-1"><%= link_to '投稿一覧', admin_reviews_path, class: 'btn btn-outline-dark btn-sm nav-link' %></li>
        <li class="btn-box mx-1"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-success btn-sm nav-link text-green' %></li>
      </ul>
    </div>

  </div>
</nav>

<!--ハンバーガーメニュー-->
<div id="sp-menu">
  <h2>MENU</h2>
  <ul>
    <div class="dropdown">
      <button type="button" class="btn btn-outline-light btn-block text-green dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-search-plus"></i>検索
      </button>
      <div class="dropdown-menu p-4 text-muted" style="margin-left: 25%;">
        <h6 class="dropdown-header">検索フォーム</h6>
        <div class="dropdown-divider"></div>
        <%= render 'layouts/search' %>
      </div>
    </div>
    <li><%= link_to '国名一覧', admin_genres_path, class: 'btn btn-outline-light btn-block' %></li>
    <li><%= link_to '会員一覧', admin_users_path, class: 'btn btn-outline-light btn-block' %></li>
    <li><%= link_to '投稿一覧', admin_reviews_path, class: 'btn btn-outline-light btn-block' %></li>
    <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-light btn-block text-green' %></li>
  </ul>
</div>

<!--ハンバーガーアイコン-->
<div id="hm-icon" class="d-lg-none">
  <a class="menu-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>