<!DOCTYPE html>
<html>
  <head>
    <title>Startrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-main">
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/header_user' %>
      <% else %>
        <%= render 'layouts/header_logout' %>
      <% end %>
    </header>

    <main>
      <div class="diagonal">
        <div class="trans">
      <div class="text-center" style="height: 30px;">
        <div id="flash-message">
          <%= render 'layouts/flash_message' %>
        </div>
      </div>
      <%= yield %>
      </div>
      </div>
    </main>

    <footer>
      Copyright © 202206 PF_Startrip. All Rights Reserved.
    </footer>
    </div>
  </body>
</html>
